@use "../../../../styles/variables" as *;

.preview {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.carousel {
  width: 100%;

  display: flex;
  align-items: center;
  gap: 16px;
}

.carousel__arrow {
  flex-shrink: 0;

  width: 32px;
  height: 32px;

  padding: 0;

  background: transparent;
  border: none;

  color: rgba($color-white, 0.45);

  font-size: 32px;
  line-height: 1;

  cursor: pointer;

  transition:
    color $transition-fast,
    transform $transition-fast;

  &:hover {
    color: $color-white;
  }

  &:first-child:hover {
    transform: translateX(-2px);
  }

  &:last-child:hover {
    transform: translateX(2px);
  }
}

.navigation {
  display: flex;
  align-items: center;
  gap: 8px;

  &__dot,
  &__dotActive {
    width: 8px;
    height: 8px;

    padding: 0;

    border: none;
    border-radius: 50%;

    cursor: pointer;

    transition: all $transition-fast;
  }

  &__dot {
    background-color: rgba($color-white, 0.3);
  }

  &__dotActive {
    width: 24px;

    background-color: $color-accent;

    border-radius: 10px;
  }
}

//laptop

@media (max-width: 1400px) and (min-width: 769px) {
  .preview {
    transform: scale(0.85);
    transform-origin: center;
  }
}