@use "../../../../../styles/variables" as *;

.cta {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 120px 40px;

  opacity: 0;

  transition: opacity 3.2s ease;

  h2 {
    margin: 0;

    color: $color-white;

    font-size: 48px;
    font-weight: 800;
    text-align: center;

    span {
      display: block;
      margin-top: 8px;

      color: $color-gold;
    }
  }
}

.visible {
  opacity: 1;
}

