@use "../../../../styles/variables" as *;

.preview {
  width: 100%;
  max-width: 1800px;

  background-color: #06182d;

  margin: 0 auto;

  display: flex;
  flex-direction: column;

  gap: 0;
}

//laptop
@media (max-width: 1400px) and (min-width: 769px) {
  .preview {
    max-width: 1100px;
  }

  .image {
    width: 480px;
  }
}

@media (max-width: 1400px) and (min-width: 769px) {
  .preview {
    gap: 80px;
  }
}